:root {
    --primary: #E95A08
}

.noto-serif-normal {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F5F8FF;
}

header, main {
    max-width: 1280px;
    margin: 0 auto;

}


section {
    margin: 120px 0;
}

button {
    font-size: 18px;
    color: wheat;
    background-color: var(--primary);
    padding: 20px 7px;
    border: none;
}

/* nav */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;

}
.logo {
    height: 80px;
    width: 135px;
}

.logo img {
    max-width: 100%;
    height: auto;
}

.nav-links {
    display: flex;
    gap: 48px;
    font-size: 20px;
}

.bold {
    font-weight: 700;
}

.gray {
    color: #8987A1;
}

.cart {
    font-size: 25px;
}

/* hero section */
.hero {
    margin-top: 280px;
    display: flex;
    align-items: end;

}

.left-half h1 {
    font-size: 65px;

}

.left-half p {
    font-size: 25px;
    margin-top: 20px;
}

.left-half span{
    color: var(--primary);

}

/* main */
main {
    text-align: center;
}

.text-content h1 {
    font-size: 50px;
}

.text-content h1 span{
    color: var(--primary);
}

.text-content p {
    font-size: 20px;
    width: 70%;
    margin: auto;
    padding: 20px 0;
}
.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.card img {
    width: 100%;
}

.card p {
    font-size: 20px;
}
.card button {
    width: 100%;
    margin: 17px 0;
}
