:root {
    --primary: #E95A08
}

.noto-serif-normal {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F5F8FF;
}

header, main {
    max-width: 1280px;
    margin: 0 auto;

}

header {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

section {
    margin: 120px 0;
}
/* nav */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;

}
.logo {
    height: 80px;
    width: 135px;
}

.logo img {
    max-width: 100%;
    height: auto;
}

.nav-links {
    display: flex;
    gap: 48px;
    font-size: 20px;
}

.bold {
    font-weight: 700;
}

.gray {
    color: #8987A1;
}

.cart {
    font-size: 25px;
}

/* hero section */
.hero {
    display: flex;
    align-items: center;
}

.left-half h1 {
    font-size: 65px;

}

.left-half p {
    font-size: 25px;
    margin-top: 20px;
}

.left-half span{
    color: var(--primary);

}
